* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.w {
  position: relative;
  width: 1190px;
  margin: 0 auto;
}
body {
  overflow:scroll;
  overflow-x:hidden;
  background-color: #F4F4F4;
  height: 3000px;
}
body a {
  color: #3C3C3C;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.style-red {
  color: #f40!important;
}
/*.clearfix:after {  content: ""; display: block; height: 0; clear: both; visibility: hidden;  }*/
.clearfix:before,.clearfix:after {
  content:"";
  display:table;  /* 这句话可以出发BFC BFC可以清除浮动,BFC我们后面讲 */
}
.clearfix:after {
  clear:both;
}
.clearfix {
  *zoom:1;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7kkyc2');
  src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
  url('../fonts/icomoon.woff?7kkyc2') format('woff'),
  url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
i, em {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  font-family: 'icomoon';
}
/*背景部分*/
.left ,.right {
  position: absolute;
  width: 360px;
  height: 800px;
  background: url("../images/bg-l.png") no-repeat;
  top: 135px;
  z-index:1;
}

.left {
  left: -359px;
}
.right {
  right: -359px;
  background-image: url(../images/bg-r.png);
}
.left-fix,.right-fix {
  width: 360px;
  height: 508px;
  position: fixed;
  bottom: 0;
  background: url("../images/bg-l-fix.png") no-repeat;
  z-index: -2;
}
.left-fix {
  left: -281px;
}
.right-fix {
  right: -281px;
  background-image: url(../images/bg-r-fix.png);
}
/*顶部开始*/
.top {
  height: 35px;
  border-bottom: 1px solid #eee;
  background-color: #f5f5f5;
  line-height: 35px;
}
.top li {
  float: left;
  font-size: 12px;
  margin: 0 15px 0 5px;
}
.dropdown {
  position: relative;
  padding-right: 15px;
}
.top li a {
  color: #6c6c6c;
}
.top li i {
  position: absolute;
  right: -2px;
  top: -2px;
}
.top li a:hover {
  color: #f40;
}

/*顶部结束*/
/*<!--superbanner开始-->*/
.superbanner {
  height: 100px;
  background-color: #d12340;
}
.superbanner-l {
  width: 90px;
  height: 100px;
}
.superbanner a {
}
.superbanner-l a{
  width: 100%;
  height: 100%;
}
.superbanner-l a img {
  margin-top: 10px;
}
.superbanner-r a{
  float: left;
  display: block;
  width: 209px;
  height: 75px;
  margin-left: 10px;
  margin-top: 13px;
  background: url("../images/shuma.png") no-repeat;
}
.a-inner {
  margin: 15px 0 0 20px;
  color: #fff;
}
.a-inner h4{
  font-size: 20px;
}
.a-inner p {
 margin-top: 8px;
  font-size: 14px;
}
.a-img {
  position: absolute;
  right: 14px;
  top: 12px;
  overflow: hidden;
}
.a-img img {
  width: 52px;
  height: 52px;
  border-radius: 10px;
}
/*<!--superbanner结束-->*/
/*<!--header部分开始-->*/
.header {
  height: 690px;
  /*background-color: #fff;*/
}
.shortcut {
  position: relative;
  height: 140px;
  background-color: #fff;
}
.shortcut .logo {
  position: absolute;
  top: 19px;
  left: 0px;
}
.wanju {
  position: absolute;
  right: 110px;
  bottom: 0;
}
.wanju img {
  vertical-align: middle;
}
.select {
  position: absolute;
  top: 35px;
  left: 275px;
}
.select a {
  display: inline-block;
  width: 36px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #f40;
}
.select a:hover {
  background-color: #FFEEE5;
}
.select a:first-child {
  border-radius: 8px 8px 0 0;
  font-weight: 700;
  color: #fff;
  background-color: #f40;
}
.search {
  position: absolute;
  top: 57px;
  left: 260px;
  width: 630px;
  height: 40px;
  border: 2px solid #f40;
  border-radius: 20px;
  overflow: hidden;
  padding-left: 33px;
}
.search input {
  float: left;
  width: 522px;
  height: 36px;
  border: 0;
  outline: none;
  font-size: 12px;
}
.search i {
  position: absolute;
  top: 13px;
  left: 15px;
}
.search em {
  position: absolute;
  top: 10px;
  right: 88px;
  width: 19px;
  height: 15px;
  background: url("../images/sprite-search.png") no-repeat;
}
.search button {
  float: left;
  width: 71px;
  height: 36px;
  background-color: #ff8f00;
  border: 0;
  color: #fff;
  font-size: 18px;
}
/*底部开始*/
.footer {
  color: #9c9c9c;
}
.footer a{
  color: #6c6c6c;
}
.footer-hd {
  height: 260px;

}
.footer-hd-t {
  padding-top: 25px;
  text-align: center;
  margin-bottom: 70px;
}
.footer-hd-t span {
  position: relative;
  color: #cfccd0;

}
.footer-hd-t span:before,
.footer-hd-t span:after {
  position: absolute;
  top: 10px;
  width: 60px;
  height: 1px;
  content: '';
  display: block;
  background-color: #e6e6e6;
}
.footer-hd-t span:before {
  left: -85px;
}
.footer-hd-t span:after {
  left: 55px;
}
.footer-hd-f {
  padding-left: 20px;
}
.footer-hd-f li {
  float: left;
  width: 292px;
  height: 147px;
  color: #3c3c3c;
}
.footer-hd-f li i {
  display: inline-block;
  vertical-align: middle;
  font-size: 46px;
  margin: 0 0 10px -5px;
}
.footer-hd-f li a {
  color: #999;
  font-size: 12px;
}
.footer-hd-f li a:hover {
  color: #f40;
}
.footer-bd {
  padding-left: 6px;
  font-size: 12px;
  background-color: #fff;
}
.footer-bd-t {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom: 5px;
}
.footer-bd-t a {
  line-height: 30px;

}
.footer a:hover {
  color: #f40;
}
.bg-m-t a {
  margin-right: 5px;
}
.bg-m-t i {
  margin-left: 40px;
}

.bg-m-t,.bg-m-f {
  height: 20px;
  line-height: 20px;
}
.footer span {
  margin: 0 2px;
}
.footer-bd-t span {
  margin: 0 3px;
}
.footer-bd-m p {
  margin: 6px 0;
}
.footer-bd-m a:hover {
  color: #f40;
}
.footer-bd-f i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/foot-ico.jpg") no-repeat -861px 0;
  display: inline-block;
  vertical-align: middle;
}
.footer-fd {
  padding: 8px 0 15px 0;
  background-color: #fff;
}
.footer-fd a {
  display: inline-block;
  margin-right: 20px;
  background: url("../images/foot-ico.jpg") no-repeat;
}
.footer-fd .one {
  width: 36px;
  height: 36px;
  background: url("../images/plice.gif") no-repeat;
}
.footer-fd .two {
  width: 30px;
  height: 35px;
}
.footer-fd .three {
  width: 35px;
  height: 28px;
  background-position: -39px -3px;
}
.footer-fd .four {
  width: 50px;
  height: 20px;
  background-position: -80px -8px;
}
.footer-fd .five {
  width: 85px;
  height: 30px;
  background-position: -139px -3px;
}
.footer-fd .six {
  width: 215px;
  height: 30px;
  background-position: -431px -3px;
}
.footer-fd .seven {
  width: 105px;
  height: 30px;
  background-position: -650px -3px;
}
.footer-fd .eight {
  width: 80px;
  height: 28px;
  background-position: -345px -3px;
}
.footer-fd .nine {
  width: 97px;
  height: 35px;
  background-position: -760px 0;
}
.footer-fd .ten {
  width: 249px;
  height: 35px;
  background-position: -884px 0;
}
/*底部结束*/
.fixnav {
  position: fixed;
  right: 0;
  bottom: 80px;
  background-color: #fff;
  z-index: 3;
  border-radius: 10px;
  overflow: hidden;
}
.fixnav li {
  padding: 10px;
  text-align: center;
  font-size: 12px;

}
.fixnav li a {
  position: relative;
  width: 100%;
  height: 100%;
  color: #000;
}
.fixnav li a:after {
  content: '';
  border-bottom: 1px solid #efefef;
  width: 34px;
  position: absolute;
  left: -3px;
  bottom: -10px;
  z-index: 1;
}

.fixnav .f40 {
  color: #ff5000;
}
.fixnav .f000 {
  color: #999;
}