img {
  vertical-align: middle;
}
h4 {
  font-weight: normal;
}
.shortnav {
  position: absolute;
  left: 260px;
  bottom: 20px;
}
.shortnav a {
  font-size: 12px;
}

.shortnav a:hover  {
  color: #f40;
}
.market {
  height: 30px;
  overflow: hidden;
}
.market h4{
  width: 190px;
  height: 31px;
  background-color: #ff5000;
  line-height: 31px;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
.market-r li {
  position: relative;
  float: left;
  margin: 0 5px;
}
.market li:hover:after {
  position: absolute;
  left: 14px;
  top: -20px;
  content: '\e9a5';
  font-family: 'icomoon';
  color: #f40;
  font-size: 28px;

}
.market-r {
  height: 30px;
  color: #fff;
  line-height: 30px;
  font-size: 12px;
  background-image: linear-gradient(to right, #ff8600 , #ff5200);
}
.market-r a {
  display: inline-block;
  height: 30px;
  padding: 0 7px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
}
.header-inner {
  height: 520px;
}
.header-inner-l {
  float: left;
  width: 190px;
  height: 520px;
  margin-top: -1px;
  padding-top: 5px;
  background-color: #fff;
  border: 1px solid #ff5000;
}
.header-inner-l li {
  position: relative;
  height: 32px;
  padding-left: 15px;
  line-height: 32px;
  color: #666;
}
.header-inner-l  i {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 16px;
}
.header-inner-l li a {
  color: #666;
}

.header-inner-l li:hover {
  background-color: #FFE4DC;
  color: #f40;

}
.header-inner-l li:hover a {
  color: #f40;
  text-decoration: underline;
}
.header-inner-m {
  float: left;
  width: 690px;
  height: 520px;
  margin: 0 10px;
}
.header-m-t {
  width: 690px;
  height: 280px;
}
.header-m-t i,
.milk i {
  color: #fff;
  font-size: 18px;
}
.header-m-f {
  width: 690px;
  height: 220px;
  margin-top: 20px;

}
.carousel {
  position: relative;
  float: left;
  width: 520px;
  height: 280px;
  background-color: #000;
  overflow: hidden;
}
.sub-column {
  float: left;
  width: 160px;
  height: 280px;
  margin-left: 10px;
}
.arr-l, .arr-r{
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 42px;
  height: 23px;
  background-color: rgba(0, 0, 0, .3);
  line-height: 23px;
  border-radius: 20px;
  cursor: pointer;
}
.carousel ol {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: 10px;
  width: 70px;
  height: 13px;
  background-color: rgba(255,255,255, .3);
  border-radius: 10px;

}
.carousel ol li {
  float: left;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px;
}
.carousel ol li:first-child {
  background-color: #f40;
}
.arrow .arr-l {
  left: -25px;
  padding-left: 24px;
}
.arrow .arr-r {
  right: -25px;
  padding-left: 3px;
}

.header-m-f h3 {
  width: 100%;
  font-weight: normal;
  border-bottom: 3px solid #ff1648;
  font-size: 12px;
  color: #666;
  height: 20px;
  line-height: 20px;
}
.header-m-f h3 img {
  vertical-align: top;
  margin: -2px 5px 0 0;
}
.header-m-f h3 em {
  margin-left: 275px;
}
.f-left {
  width: 520px;
}
.ligth {
  width: 160px;
}
.ligth p {
  height: 20px;
  font-size: 14px;
  color: #a1a1a1;
}
.milk {
  position: relative;
  width: 520px;
  padding-top: 5px;
  background-color: #fff;
  overflow: hidden;
}
.milk a {
  display: inline-block;
  width: 240px;
  height: 182px;
  margin: 10px 0 0 12px;
}
.milk a:last-child {
  margin-left: 100px;
}
.header-inner-r {
  float: left;
  width: 290px;
  height: 520px;
  background-color: #fff;
}
.tb-login {
  width: 290px;
  height: 145px;
  margin: 0 auto;
  background: url("../images/tttbg.png") no-repeat center;
  background-size: 100%;

}
.tb-login-img {
  width: 50px;
  height: 50px;
  margin: 5px auto 0;
  overflow: hidden;
  border-radius: 50%;
}
.tb-login-img a {
  display: block;
  width: 100%;
  height: 100%;
}
.tb-login p {
  text-align: center;
}

.tb-login p a {
  position: relative;
  background: #ffe4db;
  font-size: 14px;
  color: #f40;
  padding: 0 10px 0 20px;
  border-radius: 10px;
  overflow: hidden;
}
.tb-login a span {
  position: absolute;
  left: -1px;
  top: 1px;
  width: 15px;
  height: 16px;
  border-radius: 50%;
  background: #ffe4db url("../images/icon.png") no-repeat 0 -572px;

}
.tb-login .club {
  background-position: 0 -528px;
}
.clubs {
  margin: 5px 0;
}
.register {
  padding-left: 12px;
}
.register a {
  float: left;

  height: 25px;
  line-height: 25px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: #ff5300;
  margin: 5px;
}
.reg1 {
  width: 92px;
}
.reg2 {
  width: 75px;
}
.net {
  height: 25px;

}
.net a {
  position: relative;
  display: block;
  width: 100%;
  background-color: #ffe4dd;
  text-align: center;
  color: #f40;
  padding: 5px 0;
  font-size: 14px;
}
.net a:after {
  position: absolute;
  right: 30px;
  top: 7px;
  content: '';
  display: block;
  border-top: 6px solid transparent;
  border-left: 6px solid #f40;
  border-bottom: 6px solid transparent;
}
.tab {
  height: 100px;
  margin-top: 15px;
}
.tab-hd {
  position: relative;
  margin-bottom: 15px;
}
.tab li {
  float: left;
  margin: 0 16px;
  font-size: 12px;
  padding: 5px 0;
}

.line {
  position: absolute;
  left: 12px;
  top: 22px;
  width: 32px;
  height: 2px;
  background-color: #f40;
}
.tab-bd li {
  height: 25px;
}
.tab-bd a:hover {
  color: #f40;
}
.services {
  width: 290px;
  border-top: 1px solid #f4f4f4;
  overflow: hidden;
}
.services ul {
  width: 295px;
}
.services li {
  float: left;
  width: 73px;
  height: 77px;
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}

.services li i {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/icon.png") no-repeat;
  margin: 15px auto 0;

}
.services li p  {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  color: #333;
}
.app {
  position: relative;
  height: 76px;
  padding:8px 0 0 5px;
}

.app .more {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 12px;
  color: #3C3C3C;
}
.app .more:hover {
  color: #f40;
}
.app img {
  width: 32px;
  height: 32px;
}
.app a {
  font-size: 12px;
}

.taoapp {
  margin-top: 8px;
}
.taoapp a {
  float: left;
  margin: 0 10px;
}
/*<!--  head部分结束-->*/
.shopping {
  padding: 10px 0;
}
/*广告部分开始*/

.ad h3 {
  position: relative;
  height: 45px;
  font-weight: normal;
}
.ad h3 img {
  vertical-align: middle;
  height: 24px;
}
.ad h3 i {
  margin-left: 3px;
  font-size: 14px;
  color: #d2d2d2;
}
.ad h3 span {
  font-size: 12px;
  margin-left: 5px;
  color: #999;
}
.goodthing,
.loveshop {
  width: 592px;
  height: 660px;
  padding: 20px;
  background-color: #fff;
}
.ad ul {
  margin-bottom: 35px;
}
.ad-t li{
  float: left;
  width: 180px;
  margin-right: 4px;
}
.ad li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.ad li > a:hover h4,
.ad li > a:hover h4 .today {
  color: #f40;
}

.good-info {
  overflow: hidden;
  padding: 0 4px 0 6px;
}
.ad h4{
  height: 28px;
  line-height: 28px;
  color: #3c3c3c;
  margin-right: 12px;
  overflow: hidden;
}

.ad p {
  height: 24px;
  line-height: 24px;
  color: #999;
  margin-bottom: 15px;
  font-size: 14px;
  overflow: hidden;
  margin-right: 3px;
}
.good-info span {
  color: #35b1ff;

}

.good-info span i {
  margin-right: 5px;
}
.mask {
  position: absolute;
  left: -40px;
  top: 28px;
  width: 85px;
  height: 105px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
  background-color: #fff;
  color: #999;
  display: none;
}
.goodthing h3 i:hover .mask {
  display: block;
}
.ad .mask img {
  height: 72px;
}
.ad .mask p {
  font-size: 12px;
}
.shop-more {
  position: absolute;
  right: 0;
  top: 2px;
  color: #999;
  font-size: 12px;
}
.loveshop p {
  height: 35px;
  font-size: 16px;
  margin-top: 5px;
}
.loveshop p i {
  margin-right: 5px;
  color: #ebebeb;
}
.loveshop span {
  font-size: 12px;
  color: #999;
}
.loveshop .good-info img {
  vertical-align: middle;

  border-radius: 50%;
  overflow: hidden;
}
.loveshop .good-info span {
  margin-left: 10px;
}
.loveshop a:hover p{
  color: #f40;
}
.ad {
  margin-bottom: 20px;
}
.ad-m {
  height: 264px;
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
}
.ad .ad-m .time {
  color: #f40;
}
.ad-m .time i {
  padding: 3px 2px;
  background-color: #ffe4dc;
  border-radius: 2px;
  color: #f40;
  font-size: 12px;
}
.ad-m li {
  float: left;
  width: 355px;
  height: 180px;
  margin-right: 28px;
}
.ad-m li a {
  display: block;
}
.ad-m li h4 {
  color: #333;
  height: 44px;
  line-height: 22px;
  white-space: pre-wrap;
}
.ad-m li p {
  margin-top: 10px;
}
.ad-m-img, .ad-m-buy {
  float: left;
}
.ad-m-buy {
  margin-left: 15px;
}
.rapid {
  position: relative;
  width: 159px;
  height: 6px;
  background-color: #FFE4Dc;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px 0 10px 0;
}
.rapid:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 30px;
  height: 6px;
  border-radius: 10px;
  background-color: #f40;
}
.rapidfor span {
  font-size: 12px;
  color: #f40;
}
.extra {
  margin-top: 10px;
  font-size: 12px;
}
.yang, .yuan {
  color: #f40;
  font-size: 16px;
}
.yang {
}
.beforeyuan {
  color: #999;
  text-decoration: line-through;
}
.ad-f {
  margin: 10px 0;
}
.ad-t2 li {
  width: 271px;
}
.ad-t2 h4 {
  margin-bottom: 3px;
}
.ad-t2 .good-info .today {
  font-size: 16px;
  color: #333;
  margin-left: 0;
}
.good-info .must {
  color: #999;
  font-size: 12px;
}
.ad-t2 .good-info {
  padding-left: 0px;
}
.ad-t2 .goodthing,
.ad-t2 .loveshop {
  height: 540px;
}
.good-img2 img {
  margin-bottom: 2px;
}
.ad img:hover {
  transition: 1s;
  opacity: 0.8;
}
/*广告部分结束*/
/*第二部分广告开始*/
.fashion {
  height: 290px;
  margin-bottom: 10px;
}

.fashion h3 {
  position: relative;
  padding-left: 32px;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  border-bottom: 1px solid #f4f4f4;
  color: #AD45Df;
}
.fashion h3 em {
  margin-top: 5px;
  font-size: 18px;
}
.fashion h3:before {
  position: absolute;
  left: 18px;
  top: 15px;
  content: '';
  width: 4px;
  height: 16px;
  background-color: #AD45Df;
}
.list {
  float: left;
}
.list .item {
  float: left;
  margin-left: -1px;
  padding: 25px 0 20px 16px;;
  border: 1px solid transparent;
  border-right: 1px solid #F4F4F4;
  
}
.list .item:hover {
  border-color: #ff5000;
}
.list .item h4 {
  height: 27px;
}
.list .item p {
  color: #999;
  height: 35px;
  font-size: 14px;
}

.item-img a .firstimg {
  margin-right: 10px;
}
.list-r {
  width: 340px;
  height: 290px;
  padding: 20px 0 0 20px;
  border: 1px solid transparent;
}
.list-r:hover {
  border-color: #ff5000;
}
.list-r a {
  display: block;
  height: 100%;
  width: 100%;

}
.quality {
  height: 768px;
  
}
.quality h3 {
  color: #28ABFF;
}
.quality h3:before {
  background-color: #28ABFF;
}
.quality .item  {
  padding: 19px;
}
.quality h4 span {
  margin-left: 5px;
  font-size: 12px;
  color: #999;
}
.quality-l,
.quality-r {
  margin-right: -1px;
  width: 293px;
}
.quality-r .item {
  border-right-color: transparent;
}
.fashion .list,
.fashion .list-r,
.fashion .list-l {
  background-color: #fff;
}
.item-info {
  width: 172px;
  padding: 25px 0 0 30px;
}
.quality-l .qua-item-t {
  padding: 10px;
}
.quality .item {
  border-bottom: 1px solid #F4F4F4;
}
.qua-img-first {
  margin-right: 9px;
}
.quality-r .item h4 {
  margin: 30px 0 24px 0;
}
.cheap {
  height: 251px;
  background-color: #fff;
}
.cheap h3 {
  color: #31ba98;
}
.cheap h3:before {
  background-color: #31ba98;
}
.cheap .item {
  width: 239px;
  border-bottom: 0;
}
.cheap  .item-info {
  margin-left: 105px;
  margin-bottom: 24px;
}
.cheap  .item-info a {
  display: block;
  width: 70px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #ff5000;
  border-radius: 10px;
  color: #ff5000;
  font-size: 12px;
}
.hotsell {
  height: 950px;
  background-color: #fff;
}
.hotsell h3 {
  color: #ff5000;
  border-bottom: 0;
}
.hotsell h3:before {
  background-color: #ff5000;
}
.hotsell-a {
  position: relative;
  padding-left: 13px;
  font-size: 12px;
  border-bottom: 1px solid #F4F4F4;
  padding-bottom: 15px;
}
.hotsell-a a {
  margin: 5px;
}
.hotsell-a a:hover {
  color: #ff5000;
}
.hotsell-a img {
  position: absolute;
  right: 15px;
  top: 0;
}
.hotsell .list .item {
  padding: 18px;
  border-bottom: 1px solid #F4F4F4;
}
.hotsell .item-info {
  padding: 0;
  font-size: 14px;
  margin: 10px 0;
}
.hotsell .item-info img {
  margin-right: 5px;
  width: 28px;
  height: 16px;
}
.perinfo {
  margin-bottom: 16px;
  font-size: 12px;
}

.showinfo a {
  font-size: 12px;
}
.showfir {
  color: #ff5000;
}
.showfir em {
  font-size: 20px;
}
.showtwo {
  text-decoration: line-through;
}
.showthr {
  margin-top: 8px;
}
.hotsell .list {
  height: 696px;
}
.hotsell .list .item {
  width: 239px;
  border-bottom: 1px solid #F4F4F4;
}
.hotsell .list .item:hover {
  border-color: #ff5000;
}
.thinklove {
  height: 1445px;

}
.hotshell-imgs {
  padding-left: 15px;
}
.hotshell-imgs li {
  float: left;
  margin: 16px 8px 0 4px;
}
.hotshell-imgs li:hover {
  border: 2px solid #ff5000;
}
/*第二部分广告结束*/